/* @media (min-width: 1264px) {
  #app .anp-toolbar-sm {
    display: none;
  }

  #app main.v-main {
    padding-top: 0 !important;
  }

  #app .anp-menu-closed nav.elevation-1.v-navigation-drawer {
    width: 100px !important;
    transform: translateX(0%) !important;
  }

  #app main.v-main {
    padding: 0px 0px 0px 100px !important;
  }
} */

.test-div {
  width: 100%;
  height: 50px;
  background-color: aqua;
}
